<div class="form-group">
    <label for="{{ name|lower }}Field">{{ name|title }}</label>
    <input type="number" class="form-control" name="{{ name|lower }}Field" id="{{ name|lower }}Field" placeholder="{{ placeholder }}" required>
</div>
