<div class="form-group">
    <label for="{{ name|lower }}Field">{{ name|title }}</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="{{ name|lower }}Field" id="{{ name|lower }}FieldYes" value="Yes" checked>
        <label for="{{ name|lower }}FieldYes">
            Yes
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="{{ name|lower }}Field" id="{{ name|lower }}FieldNo" value="No">
        <label for="{{ name|lower }}FieldNo">
            No
        </label>
    </div>
</div>
